body {
    font-family: "Arial";
    background-color: #CCCFFF;
}
    
#container {
    margin-left: 30%;
}
    
#container img {
    padding: 20px;
}
   
#container h1 {
    font-size: 56px;
    font-weight: 500;
}

#container p.bodyText {
    font-size: 16px;
    line-height: 24px;
    }

.submitButton {
    display: inline-block;
    border: 5px solid #669900;
    background-color: #7BB700;
    padding: 10px;
    width: 150px;
    font-weight: 800;
}